In [2]:
import pandas as pd
import numpy as np

In [4]:
csv_files = ['600_unisex_top_sold_pairs.csv', '760_for_kids_top_sold_pairs.csv', '960_for_women_top_sold_pairs.csv', '720_asics_top_sold_pairs.csv', '765_top_sold_pairs.csv', '840_nike_top_sold_pairs.csv', '520_adidas_top_pairs.csv', '720_new_balance_top_sold_pairs.csv', '760_puma_top_sold_pairs.csv', '520_yeezy_top_sold_pairs.csv', '360_jordan_top_sold_pairs.csv']

csv_files

['600_unisex_top_sold_pairs.csv',
 '760_for_kids_top_sold_pairs.csv',
 '960_for_women_top_sold_pairs.csv',
 '720_asics_top_sold_pairs.csv',
 '765_top_sold_pairs.csv',
 '840_nike_top_sold_pairs.csv',
 '520_adidas_top_pairs.csv',
 '720_new_balance_top_sold_pairs.csv',
 '760_puma_top_sold_pairs.csv',
 '520_yeezy_top_sold_pairs.csv',
 '360_jordan_top_sold_pairs.csv']

In [6]:
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=True)
df_concat.describe(include='object')

,__typename,id,name,urlKey,title,brand,description,model,condition,productCategory,...,product.condition,product.productCategory,product.browseVerticals,product.listingType,product.media.thumbUrl,product.media.smallImageUrl,product.traits,sizeChart.baseSize,sizeChart.baseType,sizeChart.displayOptions
count,7525,7525,7520,7520,7520,7520,5228,7520,7520,7520,...,5,5,5,5,5,5,5,5,5,5
unique,2,6099,5115,6094,6087,41,3866,1186,1,2,...,1,1,2,1,4,4,3,5,2,5
top,Product,5f9bd23a-1720-40d4-bc40-b33662604b44,Triple Black,adidas-yeezy-foam-rnnr-onyx-kids,adidas Yeezy Slide Dark Onyx (Kids),Nike,The adidas Yeezy Slide Dark Onyx (Kids) is a c...,Nike Dunk Low,New,sneakers,...,New,sneakers,['sneakers'],STANDARD,https://images.stockx.com/images/Air-Jordan-Sp...,https://images.stockx.com/images/Air-Jordan-Sp...,"[{'name': 'Release Date', 'value': '2024-09-20'}]",9.5,us m,"[{'size': 'US M 9.5', 'type': 'us m'}]"
freq,7520,4,55,4,4,1734,4,326,7520,7487,...,5,5,4,5,2,2,2,1,4,1

In [7]:
df_concat.describe()

,favorite,market.state.highestBid.amount,market.state.lowestAsk.amount,market.state.askServiceLevels.expressExpedited.count,market.state.askServiceLevels.expressExpedited.lowest,market.state.askServiceLevels.expressStandard.count,market.state.askServiceLevels.expressStandard.lowest.amount,market.statistics.annual.averagePrice,market.statistics.annual.volatility,market.statistics.annual.salesCount,market.statistics.annual.pricePremium,market.statistics.last72Hours.salesCount,market.statistics.lastSale.amount,market.state.highestBid,market.state.askServiceLevels.expressStandard.lowest,market.state.lowestAsk,market.state.askServiceLevels.expressExpedited.lowest.amount
count,0.0,6.725000e+03,7437.000000,7525.000000,0.0,7525.000000,5708.000000,7525.000000,7525.000000,7525.000000,7525.000000,7525.000000,7525.000000,0.0,0.0,0.0,2424.000000
mean,NaN,1.839804e+04,134.656179,3.554020,NaN,24.168771,170.422390,146.238937,0.216022,1637.667110,0.049805,9.668970,141.586179,NaN,NaN,NaN,157.969884
std,NaN,1.086483e+06,170.804949,15.206418,NaN,56.254245,164.170606,176.963217,0.153771,4452.694397,0.808808,38.518436,173.092386,NaN,NaN,NaN,123.041445
min,NaN,0.000000e+00,12.000000,0.000000,NaN,0.000000,14.000000,0.000000,0.000000,0.000000,-0.891000,0.000000,0.000000,NaN,NaN,NaN,25.000000
25%,NaN,5.700000e+01,81.000000,0.000000,NaN,1.000000,101.750000,96.000000,0.132646,89.000000,-0.294000,0.000000,85.000000,NaN,NaN,NaN,95.000000
50%,NaN,9.300000e+01,108.000000,0.000000,NaN,6.000000,134.000000,120.000000,0.185333,377.000000,-0.078000,1.000000,115.000000,NaN,NaN,NaN,127.000000
75%,NaN,1.480000e+02,148.000000,1.000000,NaN,24.000000,202.000000,161.000000,0.261572,1495.000000,0.200000,7.000000,161.000000,NaN,NaN,NaN,183.000000
max,NaN,7.535194e+07,8200.000000,539.000000,NaN,1348.000000,7335.000000,10549.000000,2.698339,72383.000000,37.000000,1132.000000,9500.000000,NaN,NaN,NaN,2293.000000

In [10]:
df_concat.columns

Index(['__typename', 'id', 'name', 'urlKey', 'title', 'brand', 'description',
       'model', 'condition', 'productCategory', 'browseVerticals',
       'listingType', 'favorite', 'traits', 'variants', 'media.thumbUrl',
       'media.smallImageUrl', 'market.state.highestBid.amount',
       'market.state.highestBid.updatedAt', 'market.state.lowestAsk.amount',
       'market.state.lowestAsk.updatedAt',
       'market.state.askServiceLevels.expressExpedited.count',
       'market.state.askServiceLevels.expressExpedited.lowest',
       'market.state.askServiceLevels.expressStandard.count',
       'market.state.askServiceLevels.expressStandard.lowest.amount',
       'market.statistics.annual.averagePrice',
       'market.statistics.annual.volatility',
       'market.statistics.annual.salesCount',
       'market.statistics.annual.pricePremium',
       'market.statistics.last72Hours.salesCount',
       'market.statistics.lastSale.amount', 'market.state.highestBid',
       'market.state.askServiceLevels.expressStandard.lowest',
       'market.state.lowestAsk',
       'market.state.askServiceLevels.expressExpedited.lowest.amount',
       'product.id', 'product.name', 'product.urlKey', 'product.title',
       'product.brand', 'product.gender', 'product.description',
       'product.model', 'product.condition', 'product.productCategory',
       'product.browseVerticals', 'product.listingType',
       'product.media.thumbUrl', 'product.media.smallImageUrl',
       'product.traits', 'sizeChart.baseSize', 'sizeChart.baseType',
       'sizeChart.displayOptions'],
      dtype='object')

In [12]:
df_new = df_concat.drop(columns=['condition', 'listingType', 'variants', '__typename', 'id', 'browseVerticals', 'market.state.askServiceLevels.expressExpedited.lowest.amount','product.id', 'product.name',
       'product.urlKey', 'product.title', 'product.brand', 'product.gender',
       'product.description', 'product.model','product.condition',
       'product.productCategory', 'product.browseVerticals',
       'product.listingType', 'product.media.thumbUrl',
       'product.media.smallImageUrl', 'product.traits', 'sizeChart.baseSize',
       'sizeChart.baseType', 'sizeChart.displayOptions',  'market.state.lowestAsk', 'market.state.askServiceLevels.expressStandard.lowest', 'market.state.highestBid', 'market.state.askServiceLevels.expressExpedited.lowest', 'favorite' ])

In [14]:
df_new.describe()

,market.state.highestBid.amount,market.state.lowestAsk.amount,market.state.askServiceLevels.expressExpedited.count,market.state.askServiceLevels.expressStandard.count,market.state.askServiceLevels.expressStandard.lowest.amount,market.statistics.annual.averagePrice,market.statistics.annual.volatility,market.statistics.annual.salesCount,market.statistics.annual.pricePremium,market.statistics.last72Hours.salesCount,market.statistics.lastSale.amount
count,6.725000e+03,7437.000000,7525.000000,7525.000000,5708.000000,7525.000000,7525.000000,7525.000000,7525.000000,7525.000000,7525.000000
mean,1.839804e+04,134.656179,3.554020,24.168771,170.422390,146.238937,0.216022,1637.667110,0.049805,9.668970,141.586179
std,1.086483e+06,170.804949,15.206418,56.254245,164.170606,176.963217,0.153771,4452.694397,0.808808,38.518436,173.092386
min,0.000000e+00,12.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,-0.891000,0.000000,0.000000
25%,5.700000e+01,81.000000,0.000000,1.000000,101.750000,96.000000,0.132646,89.000000,-0.294000,0.000000,85.000000
50%,9.300000e+01,108.000000,0.000000,6.000000,134.000000,120.000000,0.185333,377.000000,-0.078000,1.000000,115.000000
75%,1.480000e+02,148.000000,1.000000,24.000000,202.000000,161.000000,0.261572,1495.000000,0.200000,7.000000,161.000000
max,7.535194e+07,8200.000000,539.000000,1348.000000,7335.000000,10549.000000,2.698339,72383.000000,37.000000,1132.000000,9500.000000

In [16]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7525 entries, 0 to 7524
Data columns (total 23 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   name                                                         7520 non-null   object
 1   urlKey                                                       7520 non-null   object
 2   title                                                        7520 non-null   object
 3   brand                                                        7520 non-null   object
 4   description                                                  5228 non-null   object
 5   model                                                        7520 non-null   object
 6   productCategory                                              7520 non-null   object
 7   traits                                                       7520 non-null   object
 8   media.thumbUrl                                               7520 non-null   object
 9   media.smallImageUrl                                          7520 non-null   object
 10  market.state.highestBid.amount                               6725 non-null   float64
 11  market.state.highestBid.updatedAt                            6725 non-null   object
 12  market.state.lowestAsk.amount                                7437 non-null   float64
 13  market.state.lowestAsk.updatedAt                             7437 non-null   object
 14  market.state.askServiceLevels.expressExpedited.count         7525 non-null   int64
 15  market.state.askServiceLevels.expressStandard.count          7525 non-null   int64
 16  market.state.askServiceLevels.expressStandard.lowest.amount  5708 non-null   float64
 17  market.statistics.annual.averagePrice                        7525 non-null   int64
 18  market.statistics.annual.volatility                          7525 non-null   float64
 19  market.statistics.annual.salesCount                          7525 non-null   int64
 20  market.statistics.annual.pricePremium                        7525 non-null   float64
 21  market.statistics.last72Hours.salesCount                     7525 non-null   int64
 22  market.statistics.lastSale.amount                            7525 non-null   int64
dtypes: float64(5), int64(6), object(12)
memory usage: 1.3+ MB

In [18]:
df_new = df_new.dropna(subset=['description'])

In [20]:
df_new.shape

(5228, 23)

In [22]:
df_new['urlKey'].value_counts()

urlKey
adidas-yeezy-foam-rnnr-onyx-kids              4
adidas-yeezy-slide-dark-onyx-kids             4
new-balance-9060-rain-cloud-grey              3
air-jordan-12-retro-barons-2024-gs            3
adidas-yeezy-boost-350-v2-mx-oat              3
                                             ..
air-jordan-1-retro-high-og-yellow-ochre-gs    1
air-jordan-6-retro-aqua-gs                    1
air-jordan-3-retro-wizards-gs                 1
air-jordan-1-mid-reverse-bred-2021-gs         1
air-jordan-1-retro-low-se-brown-blue-grey     1
Name: count, Length: 3875, dtype: int64

In [24]:
df_new = df_new.drop_duplicates(subset=['urlKey'])

In [26]:
df_new.shape

(3875, 23)

In [28]:
df_new = df_new.sort_values(by='market.statistics.annual.salesCount', ascending = False)

In [30]:
df_new = df_new.reset_index(drop=True)

In [32]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3875 entries, 0 to 3874
Data columns (total 23 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   name                                                         3875 non-null   object
 1   urlKey                                                       3875 non-null   object
 2   title                                                        3875 non-null   object
 3   brand                                                        3875 non-null   object
 4   description                                                  3875 non-null   object
 5   model                                                        3875 non-null   object
 6   productCategory                                              3875 non-null   object
 7   traits                                                       3875 non-null   object
 8   media.thumbUrl                                               3875 non-null   object
 9   media.smallImageUrl                                          3875 non-null   object
 10  market.state.highestBid.amount                               3734 non-null   float64
 11  market.state.highestBid.updatedAt                            3734 non-null   object
 12  market.state.lowestAsk.amount                                3868 non-null   float64
 13  market.state.lowestAsk.updatedAt                             3868 non-null   object
 14  market.state.askServiceLevels.expressExpedited.count         3875 non-null   int64
 15  market.state.askServiceLevels.expressStandard.count          3875 non-null   int64
 16  market.state.askServiceLevels.expressStandard.lowest.amount  3447 non-null   float64
 17  market.statistics.annual.averagePrice                        3875 non-null   int64
 18  market.statistics.annual.volatility                          3875 non-null   float64
 19  market.statistics.annual.salesCount                          3875 non-null   int64
 20  market.statistics.annual.pricePremium                        3875 non-null   float64
 21  market.statistics.last72Hours.salesCount                     3875 non-null   int64
 22  market.statistics.lastSale.amount                            3875 non-null   int64
dtypes: float64(5), int64(6), object(12)
memory usage: 696.4+ KB

In [34]:
column_rename_mapping = {
    'name': 'name',
    'urlKey': 'url_key',
    'title': 'title',
    'brand': 'brand',
    'description': 'description',
    'model': 'model',
    'productCategory': 'product_category',
    'traits': 'traits',
    'media.thumbUrl': 'thumb_url',
    'media.smallImageUrl': 'small_image_url',
    'market.state.highestBid.amount': 'highest_bid_amount',
    'market.state.highestBid.updatedAt': 'highest_bid_updated_at',
    'market.state.lowestAsk.amount': 'lowest_ask_amount',
    'market.state.lowestAsk.updatedAt': 'lowest_ask_updated_at',
    'market.state.askServiceLevels.expressExpedited.count': 'express_expedited_count',
    'market.state.askServiceLevels.expressStandard.count': 'express_standard_count',
    'market.state.askServiceLevels.expressStandard.lowest.amount': 'express_standard_lowest_amount',
    'market.statistics.annual.averagePrice': 'annual_avg_price',
    'market.statistics.annual.volatility': 'annual_volatility',
    'market.statistics.annual.salesCount': 'annual_sales_count',
    'market.statistics.annual.pricePremium': 'annual_price_premium',
    'market.statistics.last72Hours.salesCount': 'last72h_sales_count',
    'market.statistics.lastSale.amount': 'last_sale_amount'
}

df_new.rename(columns=column_rename_mapping, inplace=True)

In [36]:
import ast
def extract_release_date(traits_str):
    try:
        traits_list = ast.literal_eval(traits_str.replace("'", '"'))  # Fix quotes for parsing
        for trait in traits_list:
            if trait['name'] == 'Release Date':
                return trait['value']
        return None
    except:
        return None

# Create new column and drop original traits
df_new['release_date'] = df_new['traits'].apply(extract_release_date)
df_new.drop('traits', axis=1, inplace=True)

In [38]:
df_new.to_csv('second_version_of_stockx_data_with_kids_unisex_women.csv')